@using CloudSOA.Portal.Web.Models;

@model IEnumerable<SpringItemViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spring items</h2>
@using (Html.BeginForm("Delete", "Spring")) {
<table class="table">
    <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Updated by</th>
        <th>Updated at</th>
        <th></th>
    </tr>
    
    @foreach (SpringItemViewModel item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.text</td>
            <td>@item.modified_by</td>
            <td>@item.modified_at.ToLocalTime().ToString()</td>
            <td>@Html.ActionLink("Redigera", "Edit", new { id = item.id }, new { @class = "btn btn-default" } )
                <button type="submit" name="id" value="@item.id" class="btn btn-default">Ta bort</button></td>
        </tr>
    }
</table>
}

@Html.ActionLink("Skapa", "Edit", new { }, new { @class = "btn btn-default" } )
